 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 body {
     background-color: #f3f4f6;
 }

.mask {
    width: 70px;
    height: auto;
}

nav {
    padding: 25px;
    background-color: #000000;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 nav h1 {
     font-size: 40px;
 }

 nav p {
     font-size: 14px;
     opacity: 0.8;
 }

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

main h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #374151;
}


.grid {
    display: grid;
    gap: 20px;
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px; 
        margin: 0 auto;   
    }
}


 .card {
     background: white;
     padding: 25px;
     border-radius: 15px;
     text-align: center;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease, border 0.1s ease;
 }

 .card:hover {
     transform: scale(1.05);
     border: 2px solid #791c1c;
 }


 .card i {
     font-size: 60px;
     color: #140f0f;
     margin-bottom: 15px;
     padding: 10px;
 }

 .card h2 {
     margin-bottom: 10px;
     color: #111827;
 }

 .card p {
     font-size: 15px;
     color: rgb(97, 86, 86);
 }


 .btn {
     margin-top: 15px;
     padding: 10px 20px;
     border: none;
     background-color: #dc2626;
     color: white;
     border-radius: 8px;
     cursor: pointer;
     transition: background 0.3s ease;
     width: 100%;
     display: block;
 }

 .btn:hover {
     background-color: #910909;
 }